.table-container {
  padding-left: 30vh;
  padding-right: 30vh;
  padding-top: 3vh;
}

.background-table-container {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.2);
  top: 53px;
  bottom: 0;
  min-height: 93vh;
  min-width: 100vw;
}

.table-no {
  width: 50px;
}

.table-actions {
  width: 50px;
}

.input-search {
  text-align: center;
}

.search {
  width: 500px;
}

.center {
  text-align: center !important;
}
